apiVersion: v1
kind: ConfigMap
metadata:
  name: user-gateway-cfg
  namespace: {{ .Release.Namespace | quote }}
data:
  # yamllint disable rule:line-length
  default.conf: |
    server {
      listen       127.0.0.1:80;
      server_name  localhost;

      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header Host $http_host;
      proxy_http_version 1.1;
      proxy_redirect off;
      proxy_buffering off;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";
      proxy_read_timeout 300;
  
      # ${http_x_forwarded_user}
      location / {
        resolver kube-dns.kube-system.svc.cluster.local valid=5s;
        set $upstream_server "http://${http_x_forwarded_user}-space.{{ .Release.Namespace }}.svc.cluster.local:4180";
        proxy_pass $upstream_server;
      }
    }