{{- $root := . -}}
{{- range .Values.users }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{lower .}}-nginx-cfg
  namespace: {{ $root.Release.Namespace | quote }}
data:
  # yamllint disable rule:line-length
  default.conf: |
    server {
      listen       127.0.0.1:80;
      server_name  localhost;

      client_max_body_size 2048M;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header Host $http_host;
      proxy_http_version 1.1;
      proxy_redirect off;
      proxy_buffering off;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";
      proxy_read_timeout 300;

      if ( $http_x_forwarded_user != {{ . | quote }} ) {
          return 401;
      }
  
      location /jupyter {
        proxy_pass    http://127.0.0.1:29902;
      }

      location /code {
        proxy_pass    http://127.0.0.1:29901;
        rewrite       /code(/|$)(.*) /$2 break;
      }

      location /airflow {
        proxy_pass    http://127.0.0.1:29903;
      }

      location /browser {
        proxy_pass    http://127.0.0.1:5800;
        rewrite       /browser(/|$)(.*) /$2 break;
      }

      # try redirect to port
      location ~ ^/(\d+)/?(.*) {
        proxy_pass http://127.0.0.1:$1/$2;
      }

      location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
      }
    }
{{- end }}